[Unit]
Description=uWSGI instance to serve myproject
After=network.target

[Service]
User= sysadmin
Group=www-data
WorkingDirectory=/home/sysadmin/myproject
Environment="PATH=/home/sysadmin/myproject/myprojectenv/bin"
ExecStart=/home/sysadmin/myproject/myprojectenv/bin/uwsgi --socket 0.0.0.0:5000 --protocol=http -w wsgi:app

[Install]
WantedBy=multi-user.target
